{% extends "master.html" %}
{% load static %}

{% block title %}
    About/Contact
{% endblock %}

{% block content %}
<p>The Cru Board Game Club is a club for crusaders who want to relax
    and have a good time playing board games, card games, and more.<br/>

    There's no sign-up, no mess; just show up and have fun! <br/>
    We normally meet<strong> every Friday at 7pm,</strong> in the <strong>Moon Building.</strong> Here's a map:
</p>
<img class="image" src="{% static 'findmoon.jpg' %}">
<h5>(or just go to 31.067580811398862, -97.46200079067052)</h5>
<h3>
    Join the <a href="https://discord.gg/H2aR839RM2">CBGC discord!</a> It's more fun in there!</a>
</h3>
<h4>NOTE: Info on the offical UMHB website regarding the club is out-of-date. 
    All relevant and up-to-date info about the club can be found on the discord, and on this very website (that's partially why it exists)!<br/><br/>
</h4>

<div class="container">
<h1>FAQ:</h1>

<p><strong>Where can I go for club announcements and events?</strong></p>
<p>The <a href="https://discord.gg/H2aR839RM2">discord</a> is where it's at. </p>
<p><strong>Why aren't announcements and events on this site?</strong></p>
<p>The main purpose of this site is to provide a collaborative database of games, that people can reference when asking the tired question, "What should we play?".
    <br/>I don't intend on adding stuff that is better handled by discord. Why reinvent the wheel, right?
</p>
<p><strong>Where do I join the club?</strong></p>
<p>No formal joining needed. Just show up!</p>
<p><strong>What games does the club play?</strong></p>
<p>We play a ton of games, varying wildly from week to week. See them <a href="games">here!</a></p>
<p><strong>Can I bring my own games?</strong></p>
<p>Of course! If you want, you can add your own games using the menu up top.</p>
<p><strong>Does everyone play one game, or are there several games going at once?</strong></p>
<p>Several at once, if the headcount wills it!</p>
<p><strong>Will there be food?</strong></p>
<p>Usually! People bring homemade food on a regular basis. You can too (we'd appreciate it!)</p>
<p><strong>It's 7pm, and no one is here!</strong></p>
<p>People show up late all the time. Wait for 8pm, people will come.</p>
</div>
<h1>Meet the Officers</h1>
<div class="container">
<div class="acontainer">
    <div class="image-container">
        <img src="{% static 'noah.jpg' %}" alt="Officer Image">
    </div>
    <div class="info-container">
        <h2>Noah Gordon</h2>
        <p><strong>Position:</strong> President</p>
        <p><strong>Class:</strong> Junior</p>
        <p><strong>Major:</strong> Psychology</p>
        <p><strong>Favorite Game:</strong> Dune Imperium</p>
    </div>
</div>
</div>
<div class="container">
<div class="acontainer">
    <div class="image-container">
        <img src="{% static 'saxon.jpg' %}" alt="Officer Image">
    </div>
    <div class="info-container">
        <h2>Saxon Boring</h2>
        <p><strong>Position:</strong> Vice President</p>
        <p><strong>Class:</strong> Junior</p>
        <p><strong>Major:</strong> Psychology</p>
        <p><strong>Favorite Game:</strong> Twilight Imperium</p>
    </div>
</div>
</div>
<div class="container">
    <div class="acontainer">
        <div class="image-container">
            <img src="{% static 'iris.jpg' %}" alt="Officer Image">
        </div>
        <div class="info-container">
            <h2>Iris Hoopengarner</h2>
            <p><strong>Position:</strong> Secretary</p>
            <p><strong>Class:</strong> Senior</p>
            <p><strong>Major:</strong> Finance</p>
            <p><strong>Favorite Game:</strong> Clue</p>
        </div>
    </div>
    </div>
<div class="container">
<div class="acontainer">
    <div class="image-container">
        <img src="{% static 'annemarie.jpg' %}" alt="Officer Image">
    </div>
    <div class="info-container">
        <h2>AnneMarie</h2>
        <p><strong>Position:</strong> Spiritual Coordinator</p>
        <p><strong>Class:</strong> Junior</p>
        <p><strong>Major:</strong> Psychology</p>
        <p><strong>Favorite Game:</strong> Mafia</p>
    </div>
</div>
</div>
<div class="container">
<div class="acontainer">
    <div class="image-container">
        <img src="{% static 'gabe.jpg' %}" alt="Officer Image">
    </div>
    <div class="info-container">
        <h2>Gabe</h2>
        <p><strong>Position:</strong> Treasurer</p>
        <p><strong>Class:</strong> Senior</p>
        <p><strong>Major:</strong> Computer Science</p>
        <p><strong>Favorite Game:</strong> Coup</p>
        <p>Fun fact: He made this site!</p>
    </div>
</div>
</div>
<div class="container">
<div class="acontainer">
    <div class="image-container">
        <img src="{% static 'eli.jpg' %}" alt="Officer Image">
    </div>
    <div class="info-container">
        <h2>Eli</h2>
        <p><strong>Position:</strong> Club Jester</p>
        <p><strong>Class:</strong> Sophomore</p>
        <p><strong>Major:</strong> Pre-PA</p>
        <p><strong>Favorite Game:</strong> we don't know yet</p>
    </div>
</div>
</div>
<div class="container">
    <h1>What's with this website, anyway?</h1>
    <p>Hi! I'm Gabe, and I made this site! It's my first time doing something like this, so be gentle with criticism (I'm trying, I swear!).
        <br/>This website was made as a project for an internship requirement. However, I intend to update and support it even beyond my graduation, if I can.
        <br/>I make no money from this website, and keeping it running is not free. I love this club and want to contribute using my CS skills!
    </p>
</div>
{% endblock %}
